@import '../app/variables';

.menuCard {
  display: flex;
  flex-direction: column;
}

.image {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
  color: $neon-cyan;
  margin-bottom: 0.5rem;
}

.description {
  color: $gray-400;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: $neon-purple;
}

